MovieClientApp/Connected Services/MovireServiceRef/MovieRepository.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieRepository" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4560/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4560/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4560/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MovieService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieRepository_GetMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovies" />
  </wsdl:message>
  <wsdl:message name="IMovieRepository_GetMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRepository_GetMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRepository_GetMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRepository_SaveMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRepository_SaveMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRepository_UpdateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRepository_UpdateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRepository_DeleteMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRepository_DeleteMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieRepository">
    <wsdl:operation name="GetMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepository/GetMovies" message="tns:IMovieRepository_GetMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepository/GetMoviesResponse" message="tns:IMovieRepository_GetMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepository/GetMovie" message="tns:IMovieRepository_GetMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepository/GetMovieResponse" message="tns:IMovieRepository_GetMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepository/SaveMovie" message="tns:IMovieRepository_SaveMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepository/SaveMovieResponse" message="tns:IMovieRepository_SaveMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepository/UpdateMovie" message="tns:IMovieRepository_UpdateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepository/UpdateMovieResponse" message="tns:IMovieRepository_UpdateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepository/DeleteMovie" message="tns:IMovieRepository_DeleteMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepository/DeleteMovieResponse" message="tns:IMovieRepository_DeleteMovie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basic" type="tns:IMovieRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMovies">
      <soap:operation soapAction="http://tempuri.org/IMovieRepository/GetMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRepository/GetMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRepository/SaveMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRepository/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRepository/DeleteMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieRepository">
    <wsdl:port name="basic" binding="tns:basic">
      <soap:address location="http://localhost:4560/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>